/*    action 1     */
#coucheactive {
	display: inline-block;
    text-align: left;
    font-size: 11px;
    color: black;
    font-weight: bold;
    border: 4px solid yellow;
    background-color: yellow;
    border-radius: .2em;
}

#zoom {
    font-size: 11px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: .5em;
    margin-left: 195px;
    padding: 3px;
}

#zoom:hover {
 background-color: #F0F8FF;
}

#aaa {
	display: inline-block;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 3px solid #8B0000;
    background-color: #8B0000;
    border-radius: .5em;
    margin-left: 140px;
    padding: 1px;
}
#aaa:hover {
  background-color: grey;
  border: 3px solid grey;
}

#action1 {
    display: inline-block;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-radius: .5em;
    margin-left: 5%;
    padding: 3px;
}

#action1:hover {
  background-color: yellow;
}

/*   Fin  action 1     */  

/*    action 2     */

#bbb {
	display: inline-block;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 3px solid #8B0000;
    background-color: #8B0000;
    border-radius: .5em;
    margin-left: 53%;
    padding: 1px;
}
#bbb:hover {
  background-color: grey;
  border: 3px solid grey;
}

#Appliquer {
	display: inline-block;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 3px solid #1bb56b;
    background-color: #1bb56b;
    border-radius: .5em;
    padding: 1px;
	margin-left:5px;
}
#Appliquer:hover {
  background-color: grey;
  border: 3px solid grey;
}

/*    fenêtre action2 - Liste déroulante des propritaires */
#ListProprio { 
       width:340px;
	   border-radius: .3em;
	   box-shadow: 0 0 3px grey;
	   cursor: pointer;
        } 
		
#ListProprio:hover{ 
    box-shadow: 0 0 4px #6495ED
} 






/*    fenêtre action1    */
.action1htc {
    display:none
}

.action1htc2 {
	position: absolute;
    z-index: 1000;
    background: white;
    padding: 10px;
    right: 0;
    margin: 10px;
    min-height: 50px;
    width: 400px;
    left: 20%;
    border-radius: .4em;
    box-shadow: 0 0 10px #999;
}
/*    fin fenêtre action1    */

/*    fenêtre action2    */
.action2htc {
    display:none
}

.action2htc2 {
	position: absolute;
    z-index: 1000;
    background: white;
    padding: 10px;
    right: 0;
    margin: 10px;
    min-height: 50px;
    width: 350px;
    left: 20%;
    border-radius: .4em;
    box-shadow: 0 0 10px #999;
}

.Filtre1 {
	display: inline-block;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
    background-color: #eee;
    color: grey;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: .5em;
    margin-left: 5%;
    padding: 2px;
}
.Filtre1:hover {
  background-color: grey;
  border: 1px solid grey;
  color: white;
}

.coucheactive2a {
    display:none
}

.coucheactive2a2 {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    color: black;
    font-weight: bold;
    background-color: #b3b3ff;
    border-radius: .5em;
	    padding: 3px;
}
 
.aaa2classe {
	display:none
}

.aaa2classenew {
	display: inline-block;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 3px solid #8B0000;
    background-color: #8B0000;
    border-radius: .5em;
    margin-left: 32%;
    padding: 1px;
}
.aaa2classenew:hover {
  background-color: grey;
  border: 3px solid grey;
}

/*    valeur de proprietaire    */
.SelectProprioC {
	display: inline-block;
  font-size: 12px;
  color:grey;
  padding: 3px;
}

.SelectProprioCNew {
  background-color: #1bb56b6b;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    border-radius: .5em;
}




/*    fin fenêtre action2    */






