 body {
   margin: 0px;
   border: 0px;
   padding: 0px;
   font-family: sans-serif;
   color: #333;
}

#map {
  width: 100%;
  height : 100%;
  position : absolute;
}

/*    SIDEBAR      */
#sidebar {
    position: absolute;
    width: 300px;
    z-index: 1000;
    background: white;
    height: 100%;
	box-shadow: 0 0 6px #999;
}



#head2 {
	position: absolute;
    background: #078BAB;
    width: 300px;
    height: 5%;
    z-index: 1000;
}


#logo {
	position: absolute;
    left: 85%;
    height: 30px;
	top : 8px;
	cursor: pointer;
}
#logo:hover {
  box-shadow: 0 0 8px yellow;
}

#logoprint {
	position: absolute;
    left: 70%;
    height: 30px;
	top : 8px;
}

#logoprint:hover {
  box-shadow: 0 0 8px yellow;
}

/*    fenêtre d'information     */
#close {
	position: absolute;
	left: 90%;
	cursor: pointer;
}
#close:hover {
  box-shadow: 0 0 10px red;
}

/*    action 1     */
#coucheactive {
	display: inline-block;
    text-align: left;
    font-size: 11px;
    color: black;
    font-weight: bold;
    border: 4px solid yellow;
    background-color: yellow;
    border-radius: .2em;
}

#aaa {
	display: inline-block;
    text-align: left;
    font-size: 11px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 3px solid #8B0000;
    background-color: #8B0000;
    border-radius: .5em;
    margin-left: 140px;
    padding: 3px;
}
#aaa:hover {
  background-color: grey;
  border: 3px solid grey;
}

#action1 {
    margin-left: 15px;
    border: 1px solid grey;
    background-color: #078BAB;
    border-radius: .4em;
    padding: 3px;
	cursor: pointer;
}

#action1:hover {
    margin-left: 15px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: .4em;
    padding: 3px;
}
/*   Fin  action 1     */  





/*    Boite de recherche de texte dans la sidebar      */
#findbox {
	background: white;
    border-radius: .3em;
    margin-top: 10px;
    padding: 2px 0;
    width: 160px;;
    height: 26px;
	margin-left: 25%;
	border: 1.5px solid grey;
}

/*  FIN  SIDEBAR      */


.leaflet-left .leaflet-control {
   margin-left:305px;
}



.box {
  font-size: 12px; 
  color:black; 
  font-weight: bold;
  margin-left: 15px;
  margin-right: 10px;
}
.box11 {

  font-size: 16px; 
  color:red; 
  font-weight: bold;
  margin-left: 15px;
}

.box22 {
  font-size: 14px; 
  color:red; 
  font-weight: bold;
  margin-left: 50px;
}

.boxtele {
  font-size: 11.5px; 
  color:blue; 
  margin-left: 15px;
  margin-right: 10px;
  padding : 1px;
}

.boxtele:hover {
  font-size: 11.5px; 
  color:red; 
  margin-left: 15px;
  margin-right: 10px; 
}

/*    Texte dans le Sidebar     */


.line{
    width: 90%;
    border-bottom: 1px solid #078BAB;
    position: absolute;
    left: 4%;
    }

/*    fenêtre d'information     */
.test-test-debut {
    display:none
}

.test-test {
	position: absolute;
    z-index: 1000;
    background: white;
    padding: 10px;
    right: 0;
    margin: 10px;
    min-height: 50px;
    width: 400px;
    left: 27%;
	top: 40%;
    border-radius: .4em;
    box-shadow: 0 0 10px #999;
}
/*    fin de la fenêtre d'information     */



/*    fenêtre action1    */
.action1htc {
    display:none
}

.action1htc2 {
	position: absolute;
    z-index: 1000;
    background: white;
    padding: 10px;
    right: 0;
    margin: 10px;
    min-height: 50px;
    width: 400px;
    left: 27%;
    border-radius: .4em;
    box-shadow: 0 0 10px #999;
}
/*    fin fenêtre action1    */






.logouda {
	position: absolute;
    height: 35px;
	top : 10px;
	left : 10px;
}

/*    Texte dans le Sidebar     */
.head {
	background: black;
    width: 100%;
    height: 26px;
}







/*    Modification du style des popup      */
.leaflet-popup-content-wrapper {
		border : #078BAB;
		border-radius : 1;
		background : white;
		color : grey;
		font-size : 12px;
		font-weight: bold;
		opacity : 0.95;
		 padding: 0.5px;
        text-align: left;
        border-radius: 4px;
		}
		
		.leaflet.popup-content {
		margin : 10px;
		cursor: pointer;
		}
		
		.leaflet.popup-tip-container {
		background : grey;
		}
/*   FIN Modification du style des popup      */




/*   Control layer      */		
.leaflet-control-layers-expanded {
 color : grey;	
 font-size : 12px;
}


/*    Boite de recherche de texte dans la sidebar      */
.search-tooltip {
	width: 200px;
}
.leaflet-control-search .search-cancel {
	position: static;
	float: left;
	margin-left: -22px;
}








	 



